<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "><i class="fa-solid fa-bars text-white"></i></span>
      </button>
      @if(loginButton)
      {
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-50 justify-content-end main-list">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu dropList">
                <li><a class="dropdown-item" routerLink="login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
              </ul>
            </li>
          </ul>
        </div>
      }
      @else {
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-50 justify-content-end main-list">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{email}}
              </a>
              <ul class="dropdown-menu dropList">
                <li class="mt-2"><button class="dropdown-item rounded bg-warning d-block w-75 text-center m-auto" (click)="logout()">Logout</button></li>
              </ul>
            </li>
          </ul>
        </div>
      }
    </div>
  </nav>
  